<%- include('../partials/header') %>
<h2>Shop Dashboard</h2>
<nav>
  <a href="users">CTV</a> |
  <a href="products">Sản phẩm</a> |
  <a href="orders">Đơn hàng</a> |
  <a href="reports">Báo cáo</a>
</nav>
<%- include('../partials/footer') %>
